@model AuthApp.Models.Servicos

@{
    ViewData["Title"] = "Detalhes do serviço";
}

<div class="container w-75 shadow rounded">
    <dl class="row justify-content-center">
        <dt class = "col-sm-3 text-end">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-3 text-end">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class = "col-sm-3 text-end">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
    </dl>
</div>
<div class="d-grid gap-2 col-2 mx-auto">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Editar serviço</a>
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</div>
